<div class="container">
		<div class="card">
			<h3>New Task</h3>
			<form>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="title">Title</label>
		      				<input type="title" class="form-control" id="title" name="title">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="limitdate">Limit Date</label>
		      				<input type="limitdate" class="form-control" id="limitdate" name="limitdate">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
      				<textarea class="form-control" rows="5" id="description" name="description"></textarea>
				</div>
				<ul class="pagination justify-content-end">
                    <li class="page-item"><a class="page-link" href="/incompleted">Cancel</a></li>
                    <li class="page-item"><a class="page-link" href="">Create Task</a></li>
                </ul>
			</form>
		</div>
	</div>